<div class="resume">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row basics">
                    <div class="col-md-6">
                        <h1 class="name">{{res.basics.name}}</h1>
                        <ul class="stars">
                            <li ng-repeat-start="star in res.basics.stars" ng-mouseup="res.filter = res.addOrRemove(res.filter, star)">
                                {{star}}
                            </li>
                            <li ng-repeat-end ng-show="!$last"><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                    <ul class="contacts col-md-6">
                        <li><i class="fa fa-phone"></i> {{res.basics.phone}}</li>
                        <li><i class="fa fa-envelope-o"></i> {{res.basics.email}}</li>
                        <li><i class="fa fa-github"></i> {{res.basics.github}}</li>
                    </ul>
                </div>
                <div class="skills">
                    <h2>Technical Skills</h2>
                    <ul class="list">
                        <li ng-repeat="skill in res.skills">
                            <b>{{skill.name}}</b>:
                            <span ng-repeat="keyword in skill.keywords" ng-mouseup="res.filter = res.addOrRemove(res.filter, keyword)">
                                {{keyword}}<span ng-if="!$last">, </span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="experience">
                    <h2>
                        <ng-pluralize
                                count="res.filter.length"
                                offset=3
                                when="{
                                        '0': 'Experience',
                                        '1': '{{res.filter[0]}} Experience',
                                        '2': 'Experience With {{res.filter[0]}} and {{res.filter[1]}}',
                                        '3': 'Experience With {{res.filter[0]}}, {{res.filter[1]}}, and {{res.filter[2]}}',
                                        'one': 'Experience With {{res.filter[0]}}, {{res.filter[1]}}, {{res.filter[2]}}, and {} Other Skill',
                                        'other': 'Experience With {{res.filter[0]}}, {{res.filter[1]}}, {{res.filter[2]}}, and {} Other Skills'
                                }">
                        </ng-pluralize>
                        <span ng-show="res.filter.length">
                            - <a href ng-mouseup="res.filter = []">View All</a>
                        </span>
                    </h2>
                    <ul>
                        <li ng-repeat="exp in res.experience">
                            <div class="time">
                                <div ng-show="exp.duration">{{exp.duration}}</div>
                                <div ng-show="!exp.duration">{{exp.startDate}} -<br> {{exp.endDate}}</div>
                            </div>
                            <div class="info">
                                <b>{{exp.title}}</b>, <i>{{exp.company}}</i>
                                <ul class="list">
                                    <li ng-repeat="highlight in exp.highlights">
                                        {{highlight}}
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="community">
                    <h2>Community</h2>
                    <ul>
                        <li ng-repeat="item in res.extra">
                            <b>{{item.title}}</b>: {{item.description}}
                        </li>
                    </ul>
                </div>
                <div class="website">
                    <!-- print pdf looks ugly with an "a href" tag-->
                    <span ng-click="res.goGithub()">travisburandt.github.io</span>
                </div>
            </div>
        </div>
    </div>
</div>
