$lineWidth: 100px;

@media print {
  .resume {
    margin-bottom: 0;
    .website {
      // background of span isn't covering :before up on print / looks ugly
      &:before {
        display: none;
      }
    }
  }
}

.resume {
  margin: 100px 0;
  font-size: 16px;
  h2 {
    margin-left: $lineWidth + 20px;
    font-variant: small-caps;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 22px;
    &:before {
      width: $lineWidth;
      height: 6px;
      background: #444;
      content: " ";
      line-height: inherit;
      position: absolute;
      margin-left: -1 * ($lineWidth + 20px);
      margin-top: 10px;
      display: block;
    }
  }
  .basics {
    .name {
      margin: 0;
      font-size: 3em;
    }
    .contacts {
      text-align: right;
      list-style-type: none;
      margin: 0;
      >li {
        font-size: .8em;
      }
    }
    .stars {
      list-style-type: none;
      padding: 0;
      font-size: .9em;
      margin-top: 10px;
      >li {
        float: left;
        margin: 0 15px 0 0;
        cursor: pointer;
      }
    }
  }
  .skills {
    margin-top: 30px;
    font-size: 1em;
  }
  .experience {
    font-size: 0.9em;
    >ul {
      list-style-type: none;
      padding: 0;
      .time {
        text-align: right;
        width: $lineWidth;
        float: left;
      }
      .info {
        padding-left: $lineWidth + 20px;
        >ul {
          padding: 0 20px;
        }
      }
    }
  }
  .website {
    overflow: hidden;
    position: relative;
    height: 30px;
    margin: 25px 20%;
    >span {
      cursor: pointer;
      line-height: 30px;
      left: calc(50% - (200px / 2));
      position: absolute;
      background: #fff;
      padding: 0 20px;
    }
    &:before {
      width: 100%;
      height: 1px;
      background: #ccc;
      content: " ";
      margin-top: 15px;
      position: absolute;
    }
  }
  .list {
    padding: 0 0 0 $lineWidth + 10px;
    >li {
      padding-left: 10px;

    }
  }
  .community {
    >ul {
      list-style-type: none;
      padding: 0;
      margin-left: $lineWidth + 20px;
    }
  }
}